<!DOCTYPE html>
<html>
<head>
	<title>Find Movies</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand d-none d-sm-inline"><i class="fas fa-film"></i> FindMovies</a>
		<form class="form-inline d-none d-sm-inline" action="/results" method="GET">
			<input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
		</form>
	</div>
</nav>