<!DOCTYPE html>
<html>
<head>
	<title>Find Movies</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/appS.css">
</head>
<body>

<div class="content text-center">
	<h1 >Search for Movie</h1>
	<form action="/results" method="GET">
		<div class="form-group">
			<input type="text" class ="form-control form-control-lg" name="search" placeholder="Movie Name">
			<button class="btn btn-lg btn-primary">Search</button>
		</div>
	</form>
</div>

</body>
</html>